body {
  font-family: 'Helvetica', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  width: 500px;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Use gap instead of margin-right and margin-bottom for input-wrapper */
}

.input-wrapper {
  flex: 1;
}

textarea {
  width: 100%;
  max-height: 300px;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

#result {
  margin-top: 15px;
  overflow: auto;
  max-height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}
